# H1 Data Science Tools and Eco System

### In this Notebook, Data Science Tools and EcoSystem are summarized

**Objectives:** 
Covers the basics on how and when to use a code and mark down cell

- Lists popular data science tools

- How to create table

- How to create a ordered list

Some of the Popular languages that Date Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Stdio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
# This is a simple arithmetic expression to multiiply then add integers

In [23]:
(3*4)+5

17

In [25]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Zaffer Mohammed